{% extends "base.html" %}

{% block content %}
<div class="game-container">
    <div class="game-info">
        <h2>Round: <span id="round-number">1</span></h2>
        <h3>Letter: <span id="current-letter"></span></h3>
        <div class="timer">Time: <span id="timer">60</span>s</div>
    </div>

    <div class="categories-container">
        <div id="categories-list" class="row">
            <!-- Categories will be populated by JavaScript -->
        </div>
    </div>

    <div class="game-controls">
        <button id="start-game" class="btn btn-primary">Start New Game</button>
        <button id="submit-answers" class="btn btn-success" disabled>Submit Answers</button>
    </div>

    <div id="results" class="mt-4 d-none">
        <h3>Results</h3>
        <div id="results-container"></div>
    </div>
</div>
{% endblock %}

{% block scripts %}
<script src="{{ url_for('static', filename='js/game.js') }}"></script>
{% endblock %} 